name: Schedule Study Reminder Emails
on:
  schedule:
    - cron: "30 3 * * *"

env:
  GOOGLE_CREDENTIALS: ${{secrets.GOOGLE_CREDENTIALS}}
  DB_HOST: ${{ secrets.DB_HOST}}
  DB_USERNAME: ${{secrets.DB_USERNAME}}
  DB_PASSWORD: ${{secrets.DB_PASSWORD}}
  SERVICE_AWS_ACCESS_KEY_ID: ${{secrets.SERVICE_AWS_ACCESS_KEY_ID}}
  SERVICE_AWS_SECRET_ACCESS_KEY: ${{secrets.SERVICE_AWS_SECRET_ACCESS_KEY}}
  NODE_ENV: production

jobs:
  schedule-email:
    runs-on: ubuntu-latest
    name: "Schedule Reminder Emails"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Update User Status
        uses: ./actions/post-status-breakdown
        with:
          mode: "UPDATE_USER"
      - name: Update Google Sheet with SCHEDULE
        uses: ./actions/post-status-breakdown
        with:
          mode: "SCHEDULE_STUDY_EMAIL"
